body {
    background-color: #ff3f3f;
}

.murder {

    margin-left: 38%;
}

.vlad {
    height: 300px;
    width: 600px;
    margin-left: 25%;
}
.dance {
    height: 300px;
    width: 600px;
    margin-left: 25%;
    float: left;
}
.main-menu {
    background: url(img/anime.jpg) repeat-x #432b2b;
    width: 1045px;
    height: 300px;
    float: bottom;
    margin-top: 5px;
    padding-left: 855px;
    font: 150% cursive;


}

h1 {
    color: #25cab0;
    padding-left: 700px;
    font: 150% cursive;
}
 /*.block1 {
    height: 200px;
    width: 200px;

} */
h2
{ color: #1f1f1f;
    font: 50px Comic Sans MS ;
}
/*div {
    height: 290px;
    width: 1905px;
    overflow: auto;
   padding-left: 0 px;
   background: url(img/anime.jpg) repeat-x #ff3f3f;
   } */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #9935b0;
}
li a {
    display: block;
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
   background-color: #dc9fe3;
    color: white;
}

.login-form {
    margin: 5vh auto;
    width: 50%;
    color: black;
    background-color: lightpink;
    border-radius: 20px;
}

.form-title {
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: black;
}

.register-form {
    margin: 5vh auto;
    width: 40%;
    color: black;
    background-color: lightpink;
    border-radius: 20px;
}


