{% extends 'mainapp/base.html' %}

{% block content %}
    <h1>this page create in django by <a href="https://vk.com/boostfn">vladlen</a></h1>

    <div class="murder">
        <p><a href="/secretpage/"><img src="\static\css\img\vlad.jpg" width="500px" height="300px"></a></p>
    </div>
    <ul>
        {% for item in object_list %}
            <li>
                {{ item.to_html|safe }}
                <a href="{% url 'basket:remove' item.pk %}">
                    удалить
                </a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}